body {
    margin: 0;
padding: 0;
}
h1{
background-color: rgb(41, 168, 231);
color: black;
text-align: center;
margin:0 ;
padding: 20px;

}
.card
{
width:700px ;
margin:  10 px auto;
padding:10px ;
border: 1 px solid rgb(56, 19, 90);
border-radius:10px ;
box-shadow: 0 10px  10px  black ;

}